.dropul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 40;
  width: 60%;
}
.dropli {
  padding: 1px;
  width: auto;
  min-width: 150px;
  margin-left: 5px;
  text-align: center;
  height: 45px;
  float: left;
  font-size: 1em;
  cursor: pointer;
  -moz-border-radius-topleft: 50px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 50px;
  border-top-right-radius: 5px;
}

.dropli.pointer {
  cursor: pointer;
}
.dropli:hover {
  background-color: black;
  color: white;
  border-color: black;
}
.selectli {
  min-height: 44px !important;
  border-top: solid 7px #800000 !important;
  background-color: #f2f4e1;
  color: black;
}
.newaddli {
  border: dashed 2px yellow !important;
}

.ui-state-highlight {
  height: 1.5em;
  line-height: 1.2em;
}
